li:hover{
    background-color: #0d6efd !important;
    border-radius: .25rem;
}
/*Especificaciones ventanas modales (formularios)*/

@media (min-width: 576px){
.modal-dialog {
    max-width: 60vw !important;
    margin: 1.75rem auto;
}
}