<header>
  <% if (seccion == 'instructivo') { %>
  <div class="container" id="instructivo">
    <div class=" row">
      <div class="col-7">
        <strong>GRUPO BOCAR CONTROL INTERNO</strong><br>
        <strong>Instructivo de llenado Matriz de Riesgos y Controles</strong><br>
        <a>Macroproceso: 7. Finanzas a la Administración</a><br>
        <a>Proceso: 7.1 Definición de Estructura y Planes Financieros / 7.3 Cierres Financieros
        </a>
      </div>
      <div class="col-3 align-self-center">
        <img src="/imagenes/BocarIcon.png" alt="icono-Bocar">
      </div>
      <div class="col-2 align-self-center">
        <button type="button" class="btn btn-outline-primary me-2">Iniciar Sesión</button>
      </div>
    </div>
  </div>
  <% } if (seccion == 'matriz') { %>
  <div class="container" >
    <div class=" row">
      <div class="col-7">
        <strong>GRUPO BOCAR CONTROL INTERNO</strong><br>
        <strong>MATRIZ DE RIEGOS Y CONTROLES</strong><br>
        <a>Macroproceso: 7. Finanzas a la Administración</a><br>
        <a>Proceso: 7.1 Definición de Estructura y Planes Financieros / 7.3 Cierres Financieros
        </a>
      </div>
      <div class="col-3 align-self-center">
        <img src="/imagenes/BocarIcon.png" alt="icono-Bocar">
      </div>
      <div class="col-2 align-self-center">
        <button type="button" class="btn btn-outline-primary me-2">Iniciar Sesión</button>
      </div>
    </div>
  </div>
  <% } else { if (seccion == 'criterios') { %>
  <div class="container" >
    <div class=" row">
      <div class="col-7">
        <strong>GRUPO BOCAR CONTROL INTERNO</strong><br>
        <strong>Criterios de Riesgo y Control</strong><br>
        <a>Macroproceso: 7. Finanzas a la Administración</a><br>
        <a>Proceso: 7.1 Definición de Estructura y Planes Financieros / 7.3 Cierres Financieros
        </a>
      </div>
      <div class="col-3 align-self-center">
        <img src="/imagenes/BocarIcon.png" alt="icono-Bocar">
      </div>
      <div class="col-2 align-self-center">
        <button type="button" class="btn btn-outline-primary me-2">Iniciar Sesión</button>
      </div>
    </div>
  </div>
  <% } } %>
</header>
